// Fonts

@font-face {
	font-family: 'Outfit';
	font-display: swap;
	src:
		url('/fonts/outfit/Outfit-Bold.woff2') format('woff2'),
		url('../fonts/Outfit/Outfit-Bold.woff') format('woff'),
		url('/fonts/outfit/Outfit-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Outfit';
	font-display: swap;
	src:
		url('/fonts/outfit/Outfit-SemiBold.woff2') format('woff2'),
		url('/fonts/outfit/Outfit-SemiBold.woff') format('woff'),
		url('/fonts/outfit/Outfit-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src:
		url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('/fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

$outfit: 'Outfit', sans-serif;
$roboto: 'Roboto', sans-serif;
$regular: 400;
$semiblod: 600;
$bold: 700;
