---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div class="logo">
	<a href=""><span>{title}</span></a>
</div>

<style lang="scss">
	.logo {
		a {
			color: $txtcolor;
			&:hover span {
				text-shadow: 3px 6px 6px rgba(255, 255, 255, 0.73);
			}
		}
		span {
			text-transform: uppercase;
			transition: all 0.3s ease 0s;
		}
	}
</style>
