// Шрифты
@import "fonts.scss";

// Обнуление
@import "nullstyle.scss";

// Переменные
@import "variables.scss";


/*============================== */
body {
	width: 100%;
	font-family: $outfit;
	font-weight: $semiblod;
	@include adaptiv-value("font-size", $fzmain, 15, 2);
	line-height: 1.375;
	color: $txtcolor;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	min-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

// Ограничивающий контейнер
[class*="__container"] {
	max-width: $fullContainerWidth+px;
	margin: 0 auto;
	padding: 0px $cntpd+px;

	@media(max-width:($fullContainerWidth+px)) {
		max-width: $bp980;
	}
	@media(max-width:$bp980) {
		max-width: $bp760;
	}
	@media(max-width:$bp760) {
		max-width: none;
	}
}
// =====================================================

// Общие классы
.menu {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&__burger {
		display: none;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include adaptiv-value("column-gap", 47, 10, 2);
	}
	&__link {
		color: $txtcolor;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		&:hover {
			text-decoration: underline;
		}
	}
	&__button {
		margin-top: 50px;
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

.logo {
	a {
		color: $txtcolor;
		&:hover span {
			text-shadow: 3px 6px 6px rgba(255, 255, 255, 0.73);
		}
	}
	span {
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
	}
}

.button {
	@include adaptiv-value("padding-top", 23, 8, 2);
	@include adaptiv-value("padding-bottom", 23, 8, 2);
	@include adaptiv-value("padding-left", 71, 20, 2);
	@include adaptiv-value("padding-right", 71, 20, 2);
	@media(max-width:$bp640) {
		line-height: 1;
	}

	background: $btncolor;
	border: 1px solid $btncolor;
	border-radius: 83px;
	transition: all 0.3s ease 0s;

	span {
		color: $txtcolor;
		text-transform: uppercase;
	}

	&:hover {
		transform: translate(1%, 4%);
		background-color: transparent;
	}

	&_transparent {
		background-color: transparent;
		border: 1px solid #ABD9D9;
		&:hover {
			background: $btncolor;
			border-color: $btncolor;
		}
	}

	&_dark {
		background-color: #000000;
		border-color: #000000;
		&:hover {
			background-color: #5151C6;
			border-color: #3b3bba;
		}
	}
	&_submit {
		padding: 7.5px 32.5px;
		span {
			letter-spacing: 0.1em;
			font-size: 0.7em;
			line-height: 2;
			@media(max-width:$bp640) {
				line-height: 1;
			}
		}
	}
	&_nav {
		padding: 10px 25px;
		border-color: #2D2879;
		background-color: #2D2879;
		border-radius: 60px;
		span {
			font-size: 0.8em;
			line-height: 1.8;
			&::before {
				content: "";
				margin-right: 14px;
				display: inline-block;
				width: 17px;
				height: 17px;
				border-radius: 9px;
				transform: translate(0, 12.5%);
				background-color: #9091DC;
			}
		}
	}
}

.block-text {
	&__title {
		font-weight: $bold;
		font-size: 2.85em;
		line-height: 1;
		text-transform: capitalize;
	}
	&__subtitle {
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #ABD9D9;
	}
	&__text {
		font-family: $roboto;
		font-weight: $regular;
		font-size: 0.9em;
		line-height: 1.5;
	}
}
// =======================================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	&::before {
		content: "";
		@extend %abs100;
		background-color: $mainbgc;
		z-index: -1;
	}
	&::after {
		content: "";
		@extend %blurcircle;
		top: 0;
		left: 0;
		transform: translate(50%, -66%);
		@media(max-width:$bp980) {
			transform: translate(25%, -66%);
		}
		background-color: rgba(141, 141, 218, 0.5);
		z-index: 10;
	}
	&__container {
		padding: 15px;
		min-height: 7em;
		display: flex;
		align-items: center;
	}
	&__logo {}
	&__menu {
		padding: 0px 21px;
	}
	&__button {
		padding: 0px 20px;
		@media(max-width:$bp480) {
			display: none;
		}
	}
}

// Menu Burger
@media(max-width:$bp760) {
	.header__logo {
		margin-left: 20px;
	}
	.menu {
		margin-left: 0;
		&__burger {
			cursor: pointer;
			display: block;
			position: relative;
			width: 32px;
			height: 28px;
			z-index: 10;
			&::before,
			&::after,
			span {
				position: absolute;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 4px;
				background-color: $txtcolor;
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 0
			}
			&::after {
				bottom: 0;
			}
			span {
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		&__body {
			position: fixed;
			top: -200vw;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 170px 30px 30px 30px;
			background-color: #131556;
			transition: top 0.3s ease 0s;
			z-index: -2;
			overflow: auto;
			&._active {
				top: 0;
			}
		}
		&__list {
			flex-direction: column;
			row-gap: 40px;
		}
		&__link {
			font-size: 1.3em;
		}
	}
}

// ==========================================================
.hero {
	position: relative;
	background-color: $mainbgc;
	&::after {
		content: "";
		@extend %blurcircle;
		right: 0;
		bottom: 3%;
		transform: translate(66%, 0);
		background-color: rgba(171, 217, 217, 0.8);
		z-index: 60;
	}
	&__container {
		@include adaptiv-value("padding-top", 167, 125, 2);
		@include adaptiv-value("padding-bottom", 98, 50, 2);
	}
}

.discover {
	&__wrapper {
		@include adaptiv-value("padding-bottom", 163, 50, 2);
		display: flex;
		align-items: center;
		@media(max-width:$bp980) {
			flex-direction: column;
			row-gap: 20px;
		}
	}
	&__content {
		padding-right: 12px;
		flex: 0 0 50%;
		@media(max-width:$bp980) {
			padding: 0px 10px;
			flex: 0 0 auto;
		}
	}
	&__block-text {
		padding-right: 55px;
		@media(max-width:$bp980) {
			padding-right: 0;
		}
		h1 {
			@include adaptiv-value("font-size", 87, 40, 2);
			margin-bottom: 0.2em;
		}
		> div {
			padding-right: 60px;
			@media(max-width:$bp980) {
				padding-right: 0;
			}
		}
	}

	&__buttons {
		@include adaptiv-value("margin-top", 43, 15, 2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media(max-width:$bp980) {
			justify-content: center;
			@include adaptiv-value("column-gap", 40, 15, 2);
		}
	}

	&__button {
		display: flex;
	}

	&__image {
		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}

}

.featured {
	&__wrapper {}
	&__block-text {
		margin-bottom: 15px;
		@media(max-width:$bp760) {
			text-align: center;
		}
	}
	&__items {
		padding: 19px 0px;
		@include adaptiv-value("padding-right", 92, 30, 2);
		@include adaptiv-value("padding-left", 62, 20, 2);
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media(max-width:$bp760) {
			margin: 0 auto;
			flex-direction: column;
			justify-content: flex-start;
			max-width: fit-content;
			row-gap: 40px;
		}
		background-color: rgba(99, 88, 189, 0.19);
		border-radius: 7px;
	}

	&__item {}

	&__link {
		&:hover img {
			opacity: 1;
		}
		img {
			opacity: 0.5;
			max-width: 100%;
			transition: all 0.4s ease 0s;
		}
	}
}
// ==============================================================================


.built-browse {
	background-color: $mainbgc;
	&__container {
		padding-top: 15px;
		@media(max-width: $bp760) {
			padding-top: 35px;
		}
		@include adaptiv-value("padding-bottom", 151, 60, 2);
		display: flex;
		flex-direction: column;
		row-gap: 2.6em;
	}
}

.built-in, .browse {
	&__wrapper {
		padding: 15px 0px;
		display: flex;
		align-items: center;
		@media(max-width: $bp760) {
			flex-direction: column;
		}
	}
	&__content {
		flex: 0 0 50%;
	}
	&__block-text {
		h2 {
			margin-top: 7px;
			margin-bottom: 3px;
			@media(max-width: $bp760) {
				margin-top: 13px;
				margin-bottom: 12px;
			}
		}
		> div {
			@include adaptiv-value("padding-right", 130, 0, 2);
		}
	}
	&__button {
		margin-top: 21px;
		display: flex;
	}
	&__image {
		flex: 0 0 50%;
		display: flex;
		justify-content: center;
		img {
			max-width: 100%;
		}
	}
}

.built-in {
	&__wrapper {
		flex-direction: row-reverse;
		@media(max-width: $bp760) {
			flex-direction: column;
		}
	}
	&__content {
		padding: 15px 7px;
		@media(max-width: $bp760) {
			padding: 0px 15px;
		}
	}
	&__block-text {}
	&__button {}
	&__image {}
}

.browse {
	&__wrapper {}
	&__content {
		padding: 15px 0px;
		padding-right: 12px;
		@media(max-width: $bp760) {
			padding: 0px 15px;
		}
	}
	&__block-text {}
	&__button {}
	&__image {}
}
// =======================================================================================


.inspiration {
	position: relative;
	background-color: $mainbgc;
	&::before {
		content: "";
		@extend %blurcircle;
		top: 0;
		left: 0;
		transform: translate(-57%, -47%);
		background-color: rgba(171, 217, 217, 0.8);
	}
	&__container {
		@include adaptiv-value("padding-bottom", 145, 60, 2);
		@media(max-width: $bp760) {
			padding-top: 15px;
		}
	}
}

.others-say {
	&__wrapper {}
	&__block-text {
		margin: 0 auto;
		margin-bottom: 3.15em;
		max-width: 50%;
		@media(max-width: $bp1024) {
			max-width: 60%;
		}
		@media(max-width: $bp640) {
			max-width: 70%;
		}
		@media(max-width: $bp480) {
			max-width: 75%;
		}
		@media(max-width: $bp320) {
			max-width: 85%;
		}
		text-align: center;
		h2 {
			margin-top: 11px;
		}
	}
	&__reviews {}
}

.reviews-others-say {
	&__items {
		display: flex;
		@media(max-width: $bp980) {
			flex-wrap: wrap;
		}
		column-gap: 14px;
		row-gap: 30px;
	}
	&__item {
		padding: 16px 20px 30px 20px;
		@media(max-width: $bp980) {
			margin: 0 auto;
			max-width: 70%;
		}
		@media(max-width: $bp760) {
			max-width: 75%;
		}
		@media(max-width: $bp640) {
			max-width: 80%;
		}
		@media(max-width: $bp480) {
			margin: 0 15px;
			max-width: none;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		background: rgba(255, 255, 255, 0.08);
		border-radius: 20px;
	}
	&__photo {
		padding: 19px;
		@media(max-width: $bp640) {
			padding: 10px;
		}
		img {
			max-width: 99px;
			max-height: 99px;
		}
	}
	&__block-text {
		text-align: center;
		h3 {
			font-size: 1em;
			line-height: 1.38;
			margin-bottom: 1.2em;
			@extend .block-text__subtitle;
			color: $txtcolor;
		}
		> div {
			font-size: 0.8em;
			line-height: 1.2;
		}
	}
}

.be-ready {
	@include adaptiv-value("margin-top", 98, 55, 2);
	background: linear-gradient(278.71deg, #ABD9D9 -20.32%, #5151C6 103.51%);
	border-radius: 1.5em;
	&__wrapper {
		@include adaptiv-value("padding-top", 58, 25, 2);
		@include adaptiv-value("padding-bottom", 48, 18, 2);
	}

	&__block-text {
		margin: 0 auto;
		max-width: 50%;
		text-align: center;

		@media(max-width: $bp760) {
			max-width: 60%;
		}
		@media(max-width: $bp640) {
			max-width: 65%;
		}
		@media(max-width: $bp480) {
			max-width: 77%;
		}
		@media(max-width: $bp320) {
			max-width: 85%;
		}
		h3 {
			margin-bottom: 33px;
			color: #000000;
		}
	}

	&__button {
		margin-top: 1.45em;
		display: flex;
		justify-content: center;
	}
}
// ===========================================================================================


.footer {
	position: relative;
	background-color: $mainbgc;
	&::before {
		content: "";
		@extend %blurcircle;
		bottom: 0;
		right: 0;
		transform: translate(40%, 40%);
		background-color: rgba(141, 141, 218, 0.5);
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 11px;
		background: linear-gradient(278.71deg, #ABD9D9 -20.32%, #5151C6 103.51%);
	}
	&__container {
		padding-bottom: 64px;
		display: flex;
		flex-wrap: wrap;
		@media(max-width:($fullContainerWidth+px)) {
			flex-direction: column;
			row-gap: 30px;
		}
		@media(max-width:$bp760) {
			padding-top: 15px;
		}
	}

	&__main {
		flex: 0 0 66.66%;
		display: flex;
		@media(max-width:$bp760) {
			flex-direction: column;
			align-items: center;
			row-gap: 40px;
		}
	}

	&__logo {
		flex: 0 0 20%;
		font-size: 1.1em;
		line-height: 1.25;
	}

	&__menu {}
}

.menu-footer {
	flex: 0 0 80%;
	display: flex;
	@media(max-width:$bp760) {
		margin: 0 auto;
		width: 100%;
		justify-content: space-between;
	}
	@media(max-width:$bp480) {
		max-width: auto;
		flex-direction: column;
		align-items: stretch;
		row-gap: 30px;
	}
	&__column {
		padding-left: 20px;
		flex: 0 0 33.3333%;
		@media(max-width:$bp760) {
			flex: 0 0 30%;
			padding: 0 20px;
		}
		&:first-child {
			padding-top: 39px;
			padding-left: 25px;
			@media(max-width:$bp760) {
				padding: 0 20px;
				padding-top: 39px;
			}
			@media(max-width:$bp480) {
				padding-top: 0;
				margin-bottom: 0px;
			}
		}
		&:last-child {
			padding-left: 4px;
			@media(max-width:$bp760) {
				padding: 0 20px;
			}
		}
		& ul {
			@media(max-width:$bp480) {
				display: none;
			}
		}
		.navbar-spoiler {
			margin: 0;
			margin-bottom: 19px;
			text-align: center;
			display: none;
		}
		h3 {}
	}

	&__list {
		@media(max-width:$bp480) {
			text-align: center;
		}
	}

	&__item {}

	&__link {
		font-size: 0.8em;
		line-height: 2;
		font-family: $roboto;
		font-weight: $regular;
		color: #FFFFFF;
		transition: all 0.3s ease 0s;
		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		margin-bottom: 19px;
		font-size: 0.8em;
		line-height: 1.25;
		&.navbar-spoiler {
			display: none;
		}
		@media(max-width:$bp480) {
			cursor: pointer;
			position: relative;
			display: inline-block;
			left: 50%;
			transform: translate(-50%, 0);
			&::after {
				content: "";
				margin-left: 8px;
				display: inline-block;
				width: 0;
				height: 0;
				border: 5px solid transparent;
				border-top-color: #FFFFFF;
				border-bottom: 0;
			}
			&._active::after {
				transform: rotate(180deg) translate(0, 50%);
			}
			&.navbar-spoiler {
				display: inline-block;
			}
		}
	}
}

// Footer columns classes
.navbar {}
.market {}
.socials {}

.newsletter {
	flex: 0 0 33.33333%;
	@media(max-width:($fullContainerWidth+px)) {
		margin: 0 auto;
		margin-top: 30px;
		padding: 0px 20px;
		max-width: 600px;
		@media(max-width:$bp480) {
			max-width: 100%;
		}
		h3 {
			text-align: center;
		}
	}
	&__title {
		margin-left: 9px;
		font-size: 1.1em;
		line-height: 1.25;
	}
	&__form {
		margin-top: 30px;
		padding: 5px 4px 5px 23px;
		display: flex;
		align-items: center;
		background-color: #13124F;
		border-radius: 70px;
		@media(max-width:$bp320) {
			padding: 4px 8px;
			flex-direction: column;
			row-gap: 15px;
			align-items: center;
			background-color: transparent;
			border-radius: 0;
		}
		input[type=text] {
			margin-top: 7px;
			margin-bottom: auto;
			flex: 1 1 auto;
			@media(max-width:$bp320) {
				margin: 0;
				padding: 4px 10px;
				border-radius: 70px;
			}
			font-family: $roboto;
			font-weight: 400;
			font-size: 0.8em;
			line-height: 2;
			color: $txtcolor;
			&, &:focus {
				background-color: transparent;
				@media(max-width:$bp320) {
					background-color: #13124F;
				}
			}
			&::placeholder {
				color: #FFFFFF;
			}
			opacity: 0.67;
		}
		input[type=submit] {
			display: none;
		}
	}
	&__button {}
}